@import url(http://fonts.googleapis.com/css?family=Karla:400,700);

body {
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	font-family: 'Karla', sans-serif;
    color: #333;}

/* Header */
header {
	background-color: #333333;
	margin: 0 0 40px 0;
	padding: 10px 0 0 0;
	min-height: 50px;
	text-align: center;}


/* Filter and search options */
#price-range2 {
	width: 140px;
	margin: 10px auto 30px auto;
	text-align: left;
	font-weight: bold;}
#price-range {
	width: 370px;
	margin: 10px auto 30px auto;
	text-align: center;
	font-weight: bold;}
#value-min, #value-max {
	width: 100px; 
	border: none; 	
	background-color: #f1f1f1;
	font-family: 'Karla', sans-serif;}
#slider {margin: 30px 0 30px 0;}
/* Filter and search options */
#buttons, #search {
	text-align: center;
	margin-bottom: 30px;}

/* Filter buttons */
button {
	background-color: #d7d7d7;
	border: none;
	padding: 3px 10px 4px 10px;
	border-radius: 4px;
	color: #333;
	font-family: 'Karla', sans-serif;
	font-size: 100%;}

button:hover {
	background-color: #00ccFF;
	color: #fff;
	cursor: pointer;}
	
button:button.active {
	background-color: #0000FF;
	color: #fff;
	cursor: pointer;}

input {
	font-size: 120%;
	border: 1px solid #999;
	padding: 5px;}
input:hover {
	border: 1px solid #666;}
input:focus {
	border: 1px solid #00cccc;
	outline: none;}

table {
	margin: 0 auto;
	}

th, td {
	background-color: #CCDDFA;	
	color: #fff;
	border-radius: 3px;
	padding: 10px 10px 5px 10px;
	max-width: 10em;
	min-width: 3em;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;

  	font-size: 15px;
  	letter-spacing: .05em;
  	list-style-type: none;
  	text-shadow: 2px 2px 1px #000000;
  	text-align: left;
  	height: 25px;
  	padding-left: 1em;
  	padding-top: 10px;
	}
th {
	background-color: #d7d7d7;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;}
	
td {
	text-align: left;
	}
	
td a {
  color: #fff;
  background-position: right, center;
  background-repeat: no-repeat;
  text-decoration: none;
  padding-right: 36px;}
  
table.sortable th:hover {
	cursor: pointer;}
th.ascending, th.descending, table.sortable th:hover {
	background-color: #00cccc;
	color: #fff;}
th.ascending, th.descending, table.sortable th:active, focus {
	background-color: #00ccFF;
	color: #fff;}


/* Arrows for table sorting */
th.ascending:after {
	font-size: 60%;
    content: '\25B2';
    float: left;
	padding: 4px 5px 0 0;}
th.descending:after {
	font-size: 60%;
    content: '\25BC';
    float: left;
	padding: 4px 5px 0 0;}
