body {
margin: 0;
font-family: Arial;
}
.top-container {
background-color: #f1f1f1;
background: linear-gradient(180deg, #666666, #999999);
}
.header {
background: #f1f1f1;
background: linear-gradient(180deg, #777777, #F1F1F1);
color: #f1f1f1;
}
.content {
}
.sticky {
position: fixed;
top: 0;
width: 100%;
}
.sticky + .content {
padding-top: 150px;
}
